@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;


.active {
  position: relative;
  color: #5ece7b;
}

.active::after {
  content: "";
  position: absolute;
  top: 52px;        
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #5ece7b;
}

.active a { color: #5ece7b; }

.out-of-stock { opacity: 0.5; }
.out-of-stock::after {
  content: "OUT OF STOCK";
  font-size: 24px;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
}

.customShadow:hover { box-shadow: 0 4px 35px 0 #a8acb030; }

@layer utilities {
  .no-scrollbar::-webkit-scrollbar { display: none; }
  .no-scrollbar { -ms-overflow-style: none; scrollbar-width: none; }
}
